/* App.css */
.profile-card {
  position: fixed;
  top: 70px; /* Align with the avatar */
  right: 20px; /* Distance from the right side of the page */
  z-index: 10; /* Ensure the card appears above other elements */
}

.navbar {
  background-color: #001529; /* Ant Design default color */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}


h1 {
  color: #001529;
}
